In [3]:
import requests
from bs4 import BeautifulSoup

r=requests.get("https://pythonizing.github.io/data/real-estate/rock-springs-wy/LCWYROCKSPRINGS/")
c=r.content


soup=BeautifulSoup(c,"html.parser")

all=soup.find_all("div",{"class":"propertyRow"})

len(all)

type(all)

all[0].find("h4",{"class":"propPrice"}).text

type(all[0].find("h4",{"class":"propPrice"}).text)

all[0].find("h4",{"class":"propPrice"}).text.replace("\n", "" ).replace(" ", "" )

'$725,000'

In [13]:
l=[]
for item in all:
   d={}
   d["Address"]=item.find_all("span", {"class": "propAddressCollapse"})[0].text
   d["Locality"]=item.find_all("span", {"class": "propAddressCollapse"})[1].text
   d["Price"]=item.find("h4", {"class": "propPrice"}).text.replace("\n", "").replace(" ", "")
   try:
      d["Beds"]=item.find("span", {"class": "infoBed"}).find("b").text + "beds"
   except:
      d["Beds"]=None
   try:
      d["Beds"]=item.find("span", {"class": "infoSqFt"}).find("b").text + "sqft"
   except:
      d["Area"]=None
   try:
      d["Bath"]=item.find("span", {"class": "infoValueHalfBath"}).find("b").text + "bath"
   except:
      d["Bath"]=None
      for column_group in item.find_all("div",{"class":"columnGroup"}):
         for feature_group, feature_name in zip(column_group.find_all("span",{"class":"featureGroup"}) ,column_group.find_all("span",{"class":"featureName"})):
            # print(feature_group.text, feature_name.text)
            if "Lot Size" in feature_group.text:
               d["Lot Size"]=feature_name.text
   l.append(d)

In [14]:
import pandas
df=pandas.DataFrame(l)
# df.to_csv("output.csv")

,Address,Locality,Price,Beds,Area,Bath,Lot Size
0,0 Gateway,"Rock Springs, WY 82901","$725,000",None,NaN,None,NaN
1,1003 Winchester Blvd.,"Rock Springs, WY 82901","$452,900",4beds,NaN,None,0.21 Acres
2,600 Talladega,"Rock Springs, WY 82901","$396,900","3,154sqft",NaN,None,NaN
3,3239 Spearhead Way,"Rock Springs, WY 82901","$389,900","3,076sqft",NaN,1bath,NaN
4,522 Emerald Street,"Rock Springs, WY 82901","$254,000","1,172sqft",NaN,None,"Under 1/2 Acre,"
5,1302 Veteran's Drive,"Rock Springs, WY 82901","$252,900","1,932sqft",NaN,None,0.27 Acres
6,1021 Cypress Cir,"Rock Springs, WY 82901","$210,000","1,676sqft",NaN,None,"Under 1/2 Acre,"
7,913 Madison Dr,"Rock Springs, WY 82901","$209,000","1,344sqft",NaN,None,"Under 1/2 Acre,"
8,1344 Teton Street,"Rock Springs, WY 82901","$199,900","1,920sqft",NaN,None,"Under 1/2 Acre,"
9,4 Minnies Lane,"Rock Springs, WY 82901","$196,900","1,664sqft",NaN,None,2.02 Acres